*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    color: white;
    font-family: "Roboto", sans-serif;
    background: rgb(0,17,36);
    background: radial-gradient(circle, rgba(0,17,36,1) 0%, rgba(14,8,64,1) 0%, rgba(1,23,72,1) 100%, rgba(0,41,72,1) 100%, rgba(1,0,255,1) 100%);
    padding: 30px 0 0 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 110px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
}
h1{
    font-size: 25px;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 12px;
    color: black;
    width: 100px;
    height: 100%;
    border-radius: 8px;
    font-weight: bold;
    line-height: 30px;
}
header span{
    font-size: 35px;
}
.screen1{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "a b"
    "c c"
    ;
    padding-top: 100px;
    align-items: center;
    margin: auto;
    width: 390px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    color: black;
    height: 150px;
    width: 150px;
    font-size: 80px;
    border-radius: 50%;
    text-align: center;
    --delay: .2s;
    animation: appear .4s var(--delay) backwards;
    
}
.ph-hand-fist{
   grid-area: a;
   border: 15px solid #5454f6;
   
}
.ph-hand{
   grid-area: b;
   border: 15px solid #d5a319;
   
}
.ph-hand-peace{
   grid-area: c;
   border: 15px solid #ff5353;
}
.screen2{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    width: 380px;
    --delay: .2s;
    animation: appear .4s var(--delay) backwards;
    
}
.screen2 .item{
    width: 140px;
    height: 140px;
    font-size: 70px;
  
    
}
.containerYou, .containerHouse{
    margin: 20px;
}
.containerYou p, .containerHouse p{
    width: 150px;
    margin: auto;
    background: none;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  
}
h2{
    font-size: 40px;
    text-align: center;
    
}
button{
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    padding: 15px 40px;
    margin: 10px;
    border-radius: 5px;
}
.apper{
    --delay: .2s;
    animation: appear .4s var(--delay) backwards;
}
.pulse{
    animation: pulse 1.5s  linear
    infinite;
    
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgb(50, 51, 126);
       
    }
    100%{
        box-shadow: 0 0 0 70px rgba(69, 39, 160, 0);
       
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    50%{
        transform: scale(1.03);
    }
}

@media (min-width: 700px){
   body{
    padding: 60px 0 0 0;
   }
    header{
        width: 650px;
        height: 130px;
    }
    h1{
        font-size: 30px;
    }
    p{
        width: 120px;
        font-size: 16px;
    }
    header span{
        font-size: 40px;
    }
    .screen1{
        gap: 50px;
        width: 700px;
        padding-top: 70px;
        
    }
    .item{
        height: 250px;
        width: 250px;
        font-size: 150px;
    }
    .screen2{
        padding-top: 80px;
        display: flex;
        width: 1050px;
        gap: 35px;
    }
    .screen2 .item{
        width: 250px;
        height: 250px;
        font-size: 150px;
    }
    h2{
        font-size: 50px;
    }
    button{
        padding: 15px 50px;
        border-radius: 5px;
        font-size: 20px;
        margin: 10px 0;
    }
    .containerYou p, .containerHouse p{
        width: 300px;
        margin-bottom: 25px;
        font-size: 25px;
    }
}